.appHeader {
  margin-top: 30px;
  color: rgb(137, 58, 0);
}

.bookListContainer {
  width: 60rem;
}

.booksList {
  list-style: none;
  padding: 0 1rem;
}

.booksListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 45rem;
  margin: 0 auto;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.booksListItem:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.addBtn {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 5rem;
}

.no-books-text {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}


.bookName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}


.bookDetails {
  font-size: 1rem;
  color: #666;
}

.italicValue {
  font-style: italic;
  color: #999;
}


.deleteButton {
  background-color: rgba(255, 0, 0, 0.87);
  color: #fff;
  border: none;
  height: 40px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.noBooksText {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}